<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      楽しみを増やす
    </h2>
    <p class='service-explain'>
      HoobyRingは趣味を見つける
    </p>
    <p class='service-explain'>
      複合アプリです
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「人生を変える」帯部分  %>

  <%# 投稿一覧 %>
  <div class='post-contents'>
    <h2 class='title'>TOP TOPICS</h2>
    <%= link_to '新規投稿',new_post_path, class: "subtitle" %>
    <ul class='post-lists'>

    <% @post.each do |post| %>
      <li class='list'>

          <h4 class='post-name'>
            <%=link_to "#{post.user.nickname}",user_path(post.user) %>
          </h4>

        <%= link_to post_path(post.id) do%>
          <div class='post-img-content'>
          <% post.images.each do |image| %>
           <%if image.content_type.include?("video")%>
             <video src="<%= rails_blob_path(image)%>" type="video/mp4" controls class = "post-video" ></video>
           <%elsif image.content_type.include?("image")%>
             <%= image_tag(image, class: "post-img") %>
           <% end %>
          <%end%>
         </div>

         <div class='post-info'>
          <div class='star-btn'>
            <%= image_tag "star.png", class:"star-icon" %>
          </div>
         </div>

        <%end%>
      </li>
    <%end%>
    </ul>
  </div>
</div>
  <%# /投稿一覧 %>
<div class='purchase-btn'>
  <%= link_to '投稿する',new_post_path , class: "purchase-btn-text" %>
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
</div>
<%= render "shared/footer" %>