<%= render "shared/header" %>

    <div class="links">
    <a href="#" class="change-post-btn">
      ＜ 前の投稿
    </a>
    <a href="#" class="change-post-btn">
      後ろの投稿 ＞
    </a>
  </div>

<%# 投稿の概要 %>
<div class="post-show">
  <div class="post-box">
    <h2 class="name">
      <%=  %>
    </h2>
    <div class='post-img-content'>
      <%#= image_tag @post.video ,class:"post-box-img" %>
      <%if @post.image.content_type.include?("video")%>
        <video src="<%= rails_blob_path(@post.image) %>" type="video/mp4" controls class = "post-video"></video>
      <%elsif @post.image.content_type.include?("image")%>
        <img src="<%= rails_blob_path(@post.image)%>"class = "item-img">
      <%end%>
    </div>
    
    <%#if @post.order.blank?%>
     <%if user_signed_in? && current_user.id == @post.user_id%>
     <%= link_to '商品の編集',edit_post_path , class: "post-red-btn" %>
     <%= link_to '削除', post_path, method: :delete, class:'post-destroy' %>
     <%end%>

    <div class="post-explain-box">
      <span><%= @post.text %></span>
    </div>
    <table class="detail-table">
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>
 <%# /コメント欄%>
  <div class="comment-box">
  <%= form_with(model: [@post,@comment], local: true) do |f|%>
    <form>
      <%= f.text_field :text, class:"comment-text", id:"comments-text"%>  
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
      <%end%>
    </form>
    <%# /コメントを表示%>
    <div id="comment"> </div>
    <h3>コメント欄</h3>
    <% @comments.each do |t| %>
      <li class="comments_list">
        nama
      <%#= link_to t.user.neme, user_path(t.user), class: :comment_user %>
      　<%= t.text%>
      <%= link_to '削除',  post_comment_path(@post.id,t.id), method: :delete, lass:'comennt_delete'%>
      </li>
    <% end %>
    <%# //コメントを表示%>
  </div>
  <%#　コメント欄%>

<%= render "shared/footer" %>
